@loupWhizz:registry=https://npm.pkg.github.com


# Here we specify how the package manager should authenticate to the private registry.
# For security reasons, CI jobs should obtain their tokens from environment variables.
# The exact syntax depends on your registry provider.  If a line references an environment
# variable that is undefined, Rush will ignore that line.  This avoids producing an invalid
# string that might interfere with a developer who obtains their credentials from ~/.npmrc.
#//my-registry.example.com/npm-private/:_password=${MY_CI_TOKEN}
#//my-registry.example.com/npm-private/:username=${MY_CI_USER}
#//my-registry.example.com/npm-private/:always-auth=true